<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class="body">
    <h1>Books</h1>
    <!--<div th:replace="~{fragments :: books_table}"></div>-->

    <form th:action="@{/actionBook}" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td><input type="radio" name="selectedBooks" th:value="${book.title}" /></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.price}"></td>
                    <td th:text="${book.stock}"></td>
                </tr>
            </tbody>
        </table>

        <div class="mb-3 row">
            <label for="sellQuantity" class="col-sm-2 col-form-label">Sell Quantity</label>
            <div class="col-sm-6">
                <input type="number" id="sellQuantity" name="sellQuantity" min="1" required class="form-control" />
            </div>
        </div>

        <button type="submit" name="action" value="sell" class="btn btn-primary">Sell</button>

        <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>

        <!--<button type="submit" class="btn btn-danger">Delete</button> -->
    </form>
</div>

<form th:action="@{/createBook}" method="post" th:object="${book}" class="px-4">
    <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-6">
            <input type="text"  id="title" autofocus="autofocus"
                   class="form-control" required name="title" th:field="*{title}" >
        </div>
    </div>

    <div class="mb-3 row">
        <label for="author" class="col-sm-2 col-form-label">Author</label>
        <div class="col-sm-6">
            <input type="text"  id="author" autofocus="autofocus"
                   class="form-control" required name="author" th:field="*{author}" >
        </div>
    </div>

    <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-6">
            <input type="text"  id="price" autofocus="autofocus"
                   class="form-control" required name="price" th:field="*{price}" >
        </div>
    </div>

    <div class="mb-3 row">
        <label for="stock" class="col-sm-2 col-form-label">Stock</label>
        <div class="col-sm-6">
            <input type="text"  id="stock" autofocus="autofocus"
                   class="form-control" required name="stock" th:field="*{stock}" >
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Add book</button>
    </div>
</form>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>