<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title th:text="${title}">Title</title>
</head>

<div class="header" th:fragment="header">
    <p><a href="/login"><span sec:authorize="!isAuthenticated()">Login</span></a>
        <a href="/register"><span sec:authorize="!isAuthenticated()">Register</span></a>
        <a class="header" href="/logout"><span sec:authorize="isAuthenticated()">Logout</span></a>
        <a class="header" href="/"><span sec:authorize="isAuthenticated()">Home</span></a>
        <a class="header" href="/users"><span sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">Users</span></a>
        <a class="header" href="/user"><span sec:authorize="isAuthenticated() and hasAuthority('USER')">User</span></a>
        <a class="header" href="/roles"><span sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">Roles</span></a>
        <a class="header" href="/admin"><span sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">Admin</span></a>
        <a class="header" href="/books"><span sec:authorize="isAuthenticated()">Books</span></a>
    </p>
    <p></p>
</div>

<div th:fragment="roles_table">
    <table>
        <tr>
            <th>Authority</th>
        </tr>
        <tr th:each="role : ${roles}">
            <td th:text="${role.role}"></td>
        </tr>
    </table>
</div>

<div th:fragment="users_table">
    <table>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail address</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.emailAddress}"></td>
        </tr>
    </table>
</div>

<div th:fragment="books_table">
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.stock}"></td>
        </tr>
    </table>
</div>

<div th:fragment="books_table_delete_update">
    <form th:action="@{/actionBook}" method="post">
        <table class="table">
            <tr>
                <th>Select to delete</th>
                <th>Select to sell</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
            <tr th:each="book : ${books}">
                <td><input type="checkbox" name="selectedBooks" th:value="${book.title}" class="form-control"/></td>
                <td><input type="radio" name="sellBook" th:value="${book.title}" class="form-control"/></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.stock}"></td>
            </tr>
        </table>

        <div class="mb-3 row">
            <label for="sellQuantity" class="col-sm-2 col-form-label">Sell Quantity</label>
            <div class="col-sm-6">
                <input type="number" id="sellQuantity" name="sellQuantity" value="0" min="0" class="form-control" />
            </div>
        </div>

        <input type="submit" value="Sell"  class="btn btn-danger">
        <input type="submit" value="Delete"  class="btn btn-danger">
    </form>
</div>

<div th:fragment="createBookForm">
    <form th:action="@{/createBook}" method="post" th:object="${book}" class="px-4">
        <div class="mb-3 row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-6">
                <input type="text"  id="title" autofocus="autofocus"
                       class="form-control" required name="title" th:field="*{title}" >
            </div>
        </div>

        <div class="mb-3 row">
            <label for="author" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-6">
                <input type="text"  id="author" autofocus="autofocus"
                       class="form-control" required name="author" th:field="*{author}" >
            </div>
        </div>

        <div class="mb-3 row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-6">
                <input type="text"  id="price" autofocus="autofocus"
                       class="form-control" required name="price" th:field="*{price}" >
            </div>
        </div>

        <div class="mb-3 row">
            <label for="stock" class="col-sm-2 col-form-label">Stock</label>
            <div class="col-sm-6">
                <input type="text"  id="stock" autofocus="autofocus"
                       class="form-control" required name="stock" th:field="*{stock}" >
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Add book</button>
        </div>
    </form>
</div>

<div th:fragment="footer">
    <div class="footer"><p class="footer">Inginerie Software 2024</p></div>
</div>
</html>